
.Upcoming_Movies {
	overflow-x:scroll;
	 flex-wrap: nowrap; 
}
.container{
	width:100%;
	display: flex;

	
	
}
#Released_Movies{
	
	flex-wrap:wrap;
	width:76%;
	justify-content: space-evenly;
	margin: 16px;
	align-self: flex-start;
	
}
#Released_Movies img{
	cursor: pointer;
}

#Filter_Movies{
	
	border: 2px solid white;
	width:24%;
   min-width: 240;
   max-width: 240;
	margin: 16px;
  
}
.movie_name:focus~label{
 top :5px;
 
}

